# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Built files
build/
dist/
*.js

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
